.copy{
  text-align: center;
}
.all{
  /* text-align: center; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwhXc35QoRs_4nqWG38ulGoGhoqFbCvGTEa6M50IFKxifp4jAD");
  background-size: cover;
}