<!-- <p>quote-form works!</p> -->
<div class="container-fluid">
  <h2 class="text-center">Create a new Qoute</h2>
  <p>
    Hopefully the quotes helped you in a way or another <br />
    Dear Please feel free to add a quote that you may want to share with us and
    the rest of the world.
  </p>
  <hr />

  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
    <div class="form-group">
      <label for="names">Name</label>
      <textarea
        class="form-control"
        id="names"
        rows="1"
        placeholder="Enter your full names here"
        [(ngModel)]="newQuote.names"
        name="names"
        #names="ngModel"
        required
      ></textarea>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Your name please</p>
      </div>
      <div class="form-group">
        <label for="name">Quote</label>
        <textarea
          class="form-control"
          id="name"
          rows="2"
          [(ngModel)]="newQuote.name"
          name="name"
          #name="ngModel"
          required
        ></textarea>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Please give us a quote</p>
        </div>

        <!-- {{ newQuote.name }} -->
      </div>
      <br /><br /><br />
      <div class="form-group">
        <label for="description">Author</label>
        <textarea
          class="form-control"
          id="description"
          rows="1"
          column="4"
          [(ngModel)]="newQuote.description"
          name="description"
          #description="ngModel"
          required
        ></textarea>
        <div
          [hidden]="description.valid || description.pristine"
          class="alert alert-danger"
        >
          <p>Please do tell us whose quote it is</p>
        </div>

        <!-- </form> -->
      </div>
      <!-- <div class="form-group">

   <label for="complete">Completion</label>
   <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
    <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
      <p>Date is required</p>
    </div> -->
    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
  </form>
</div>
